.info {
    margin-top: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.edit {
    margin-top: 20px;
    background-color: transparent;
    border: 1.5px solid #52788C;
    color: #52788C;
    padding: 1px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
    gap: 5px;
}

.here {
    display: flex;
}

.nothere {
    display: none;
}

.flex input {
    padding: 5px;
    font-size: 14px;
}

@media (max-width: 1000px) {

    .info {
        margin-top: 50px;
        margin-right: 0;
    }
}