.home-nav2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 60px;
    background-color: #52788C;
    padding: 20px 30px;
}

.home-nav h1 {
    font-size: 2em;
}

.logo {
    text-decoration: none;
    color: #fff;
}

.left-nav {
    display: flex;
    align-items: baseline;
    gap: 40px;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.links li {
    list-style: none;
    color: #fff;
}

.links a {
    text-decoration: none;
}

.links a.active {
    text-decoration: underline;
    color: #fff;
}

.right-nav {
    display: flex;
    gap: 20px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 65px;
    background-color: #162832;
    padding: 2px 6px;
    border-radius: 50px;
    font-size: 10px;
}

.circle p {
    font-size: 12px;
}

@media (max-width: 1000px) {

    .links {
        display: none;
    }
    
    .right-nav {
        display: none;
    }
    
    .menu {
        display: flex;
    }

    .home-header {
        padding: 20px 30px;
    }
    
}