.home-nav2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 60px;
    background-color: #52788C;
    padding: 20px 30px;
}

.home-nav h1 {
    font-size: 2em;
}

.left-nav {
    display: flex;
    align-items: baseline;
    gap: 40px;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.links li {
    list-style: none;
}

.right-nav {
    display: flex;
    gap: 20px;
}

@media (max-width: 1000px) {

    .links {
        display: none;
    }
    
    .right-nav {
        display: none;
    }
    
    .menu {
        display: flex;
    }

    .home-header {
        padding: 20px 30px;
    }
    
}